body{
    background-image: url("istockphoto-1336523021-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:200px;
}
.div1{
      display: flex;
      justify-content: center;
      
      
}
#img{
    height:500px ;
      width: 800px;
      position: fixed;
      top:100px;
      left: 400px;
      border: 0px;
      border-radius: 7px;
}
@media only screen and (max-width:600px){
    #img{
        height: 300px;
        width: 400px;
        position: absolute;
        top: 50px;
        left: 50px;
    }
}
